.header {
    background-color: #2231AA;
    height: 60px;
    margin-bottom: 30px;
    position: relative;

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 300px;
        height: calc(100vh - 60px);
        background-color: #fff;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 3;

        &_open {
            transform: translateX(0);
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 20px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }

    &__burger {
        cursor: pointer;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__search {
        display: flex;
        align-items: center;
        height: 60px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__lang-select {
        width: 80px;
        border-radius: 2px;
        height: 40px;
    }
}